@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
}

.container{
    position: absolute;
    border: 1px solid #f6f8fa;
    border-radius: 5px;
    padding: 1rem;
    background: #f6f8fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5{
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.form-control {
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.form-control input{
    border: 0;
    border-bottom: 1px solid orange;
    outline: none;
    display: block;
    padding: 8px 0;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    background: #f6f8fa;
}

.form-control label{
    
    top: 0;
    left: 0;
    font-size: 20px;
    color: grey;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: purple;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.fa-solid{
    position: absolute;
    right: 1.2rem;
    top: 2.8rem;
    cursor: pointer;
}

a{
    text-decoration: none;
}